<h1><%= @album.name %></h1>
<h3><%= @album.genre %></h3>
<% if @album.songs.any? %>
  <h4>Here are the songs for this album:</h4>
  <% @album.songs.each do |song| %>
    <ul>
      <li><%= link_to song.name, album_song_path(@album, song) %></li>
    </ul>
  <% end %>
<% else %>
  <p>No songs are listed for this album.</p>
<% end %>
<%= button_to "Add Song to Album",
              new_album_song_path(@album), 
              method: :get %>
<%= button_to "Edit Album",
              edit_album_path(@album),
              method: :get %>
<%= button_to "Delete Album",
              album_path(@album),
              method: :delete %>
<%= button_to "Return to Albums Page",
              albums_path,
              method: :get %>
